@model LoginRegistration

<div class="container">
    <div class="row">
        <div class="col text-white">
            <h3 class="display-4">Register</h3>
            <form asp-action="CreateUser" asp-controller="User" class="col-10" method="post">
                <div class="form-group">
                    <label asp-for="newUser.FirstName" class="font-weight-bold mb-0"></label>
                    <span asp-validation-for="newUser.FirstName" class="form-text text-danger"></span>
                    <input asp-for="newUser.FirstName" class="form-control bg-light" placeholder="First Name">
                </div>

                <div class="form-group">
                    <label asp-for="newUser.LastName" class="font-weight-bold mb-0"></label>
                    <span asp-validation-for="newUser.LastName" class="form-text text-danger"></span>
                    <input asp-for="newUser.LastName" class="form-control bg-light" placeholder="Last Name">
                </div>

                <div class="form-group">
                    <label asp-for="newUser.Email" class="font-weight-bold mb-0"></label>
                    <span asp-validation-for="newUser.Email" class="form-text text-danger"></span>
                    <input asp-for="newUser.Email" class="form-control bg-light" placeholder="Email">
                </div>

                <div class="form-group">
                    <label asp-for="newUser.Password" class="font-weight-bold mb-0"></label>
                    <span asp-validation-for="newUser.Password" class="form-text text-danger"></span>
                    <input asp-for="newUser.Password" class="form-control bg-light" placeholder="Password">
                </div>

                <div class="form-group">
                    <label asp-for="newUser.Confirm" class="font-weight-bold mb-0"></label>
                    <span asp-validation-for="newUser.Confirm" class="form-text text-danger"></span>
                    <input asp-for="newUser.Confirm" class="form-control bg-light" placeholder="Confirm Password">
                </div>
                <button type="submit" class="btn btn-primary mb-3 mt-3 offset-9">Register</button>
            </form>
        </div>
        <div class="col text-white">
            <h3 class="display-4">Login</h3>
            <form asp-action="UserLogin" asp-controller="User" class="col-10" method="post">
                <div class="form-group">
                    <label asp-for="returningUser.Email" class="font-weight-bold mb-0"></label>
                    <span asp-validation-for="returningUser.Email" class="form-text text-danger"></span>
                    <input asp-for="returningUser.Email" class="form-control bg-light" placeholder="Email">
                </div>

                <div class="form-group">
                    <label asp-for="returningUser.Password" class="font-weight-bold mb-0"></label>
                    <span asp-validation-for="returningUser.Password" class="form-text text-danger"></span>
                    <input asp-for="returningUser.Password" class="form-control bg-light" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary mb-3 mt-3 offset-9">Sign In</button>
            </form>
        </div>
    </div>
</div>

