<div class=" container text-white text-center" style="height:400px; width: 100%">
    <div id="map">

    </div>
</div>
<div class="container text-center">
    <table class="table table-striped text-white">
        <thead>
            <tr>
                <th scope="col">Location</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Days Until</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#">Destination</a></td>
                <td>Start Date</td>
                <td>End Date</td>
                <td>Days Until</td>
            </tr>
        </tbody>
    </table>
</div>