/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


.table-expand {
    margin-top: 5rem;
  }
  
  .table-expand td {
    color: #8a8a8a;
  }
  
  .table-expand tr {
    border: 1px solid #e6e6e6;
  }
  
  .table-expand .text-right {
    padding-right: 3rem;
  }
  
  .table-expand-row.is-active .expand-icon::after {
    content: '-';
  }
  
  .table-expand-row .expand-icon::after {
    content: '+';
    float: left;
  }
  
  .table-expand-row-content {
    display: none;
  }
  
  .table-expand-row-content.is-active {
    display: table-row;
    -webkit-animation: fadeIn ease-in 1;
            animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
  }
  
  .table-expand-row-nested {
    background-color: #e6e6e6;
  }
  
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  


