@model Event
<div class="container-fluid text-white">
    <div class="container rounded p-4 col-6">
        <form asp-action="AddEvent" asp-controller="Event" method="post">
            <div class="form-group">
                <span asp-for="eventName"></span>
                <label asp-for="eventName"></label>
                <input asp-for="eventName" class="form-control">
            </div>
            <div class="form-group">
                <span asp-for="startTime"></span>
                <label asp-for="startTime"></label>
                <input asp-for="startTime" class="form-control">
            </div>
            <div class="form-group">
                <span asp-for="startDate"></span>
                <label asp-for="startDate"></label>
                <input asp-for="startDate" class="form-control">
            </div>
            <div class="form-group">
                <span asp-for="endTime"></span>
                <label asp-for="endTime"></label>
                <input asp-for="endTime" class="form-control">
            </div>
            <div class="form-group">
                <span asp-for="endDate"></span>
                <label asp-for="endDate"></label>
                <input asp-for="endDate" class="form-control">
            </div>
            <div class="form-group">
                <span asp-for="location"></span>
                <label asp-for="location"></label>
                <input asp-for="location" class="form-control" id="location">
            </div>
            <button class="btn btn-primary" type="submit" id="submit">Create Event</button>
        </form>
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDd0qpuCR49IQTA4Ce6wDEw5Gh5l10Swb8&libraries=places&callback=AutoCompleteLocation" async defer></script>
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDd0qpuCR49IQTA4Ce6wDEw5Gh5l10Swb8&libraries=places&callback=AutoCompleteLocation"></script> -->
<script>
    function AutoCompleteLocation () {
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('location'));

        console.log(autocomplete);
        
        }
</script>

