@model Event
<div class="container-fluid text-white">
    <div class="container rounded p-4 col-6">
        <form asp-action="AddEvent" asp-controller="Event" method="post">
            <div class="form-group">
                <span asp-for="eventName"></span>
                <label asp-for="eventName"></label>
                <input asp-for="eventName" class="form-control">
            </div>
            <div class="form-group">
                <span asp-for="start"></span>
                <label asp-for="start"></label>
                <input asp-for="start" class="form-control">
            </div>
            <div class="form-group">
                <span asp-for="end"></span>
                <label asp-for="end"></label>
                <input asp-for="end" class="form-control">
            </div>
            <div class="form-group">
                <span asp-for="location"></span>
                <label asp-for="location"></label>
                <input asp-for="location" class="form-control" id="location">
            </div>
            <button class="btn btn-primary" type="submit" id="submit">Create Event</button>
            <input asp-for="longitude" type="hidden" value="" id="long">
            <input asp-for="latitude"type="hidden" value="" id="lat">
        </form>
    </div>
</div>
